body {
  margin: 30px;
}

h1 {
  font-size: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#main-header {
  text-align: center;
}

p {
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

section {
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

img {
  height: 130px;
  width: 170px;
  border-radius: 10px;
  vertical-align: middle;
}

a {
  margin-right: 40px;
}

nav a {
  margin: 10px;
}

ol {
  margin: 10px 10px 10px 20px;
}

span {
  font-style: italic;
}

.things-to-do {
  border: 2px solid blue;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 5px;
  width: 60%;
}

.places-to-eat {
  border: 2px solid green;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 5px;
  width: 60%;
}

dl {
  font-style: italic;
  margin: 20px;
}

